{{- 'about-us.css' | asset_url | stylesheet_tag -}}
<div class="about_us_wrapper">

</div>
{% schema %}
{
    "name": "About Us",
    "settings": [
        
    ],
    "presets": [
      {
        "name": "About Us"
      }
    ]
}
{% endschema %}