{{- 'blog-suggestions.css' | asset_url | stylesheet_tag -}}
{% liquid
	assign show_date = section.settings.show_date
	assign show_excerpt = section.settings.show_excerpt
%}
<div class="blog_suggestions-section_wrapper">
    <div class="blog_suggestions-title">
        {{ section.settings.heading }}
    </div>
    {% for article in blogs[section_blog].articles limit: 2 %}
        <div class="small-12 medium-4 columns blog_post_small-wrapper">
            {% render 'blog-post', article: article, show_date: show_date, show_excerpt: show_excerpt %}
        </div>
    {% endfor %}
</div>
{% schema %}
    {
      "name": "Blog suggestions",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "YOU MAY ALSO LIKE"
        },
        {
           "type": "blog",
           "id": "blog",
           "label": "Blog"
        }
      ],
      "presets": [
        {
          "name": "Blog suggestions"
        }
      ]
    }
  
  {% endschema %}