{{  'certificates.css' | asset_url | stylesheet_tag }}
<div class="certificates-section_wrapper">
    {% for block in section.blocks %}
        <div class="certificates-block_wrapper">
            <div class="certificates-title">
                {{ block.settings.title }}
            </div>
            <div class="certificates-subtitle">
                {{ block.settings.subtitle }}
            </div>
            <div class="certificates-images">
                <div class="certificates-side_lines">
                    <div class="certificates-side_lines_inner">
                    </div>
                </div>
                {% if block.settings.image_2 == blank %}
                <div class="certificates-single_image">
                    {%- liquid
                    assign master_width = block.settings.image_1.src.width | append: 'x' | append: block.settings.image_1.src.height
                    assign width = '375x' | append: mobile_image_height | append: ',' | append: master_width
                    assign class = nil
                    -%}
                    {%- render 'responsive-image', image: block.settings.image_1, sizes: width, class: class -%}
                </div>
                {% else %}
                <slide-show class="certificates-multi_images">
                    {% if block.settings.image_1 != blank %}
                    <div class="certificates-multi_image_image carousel__slide"> 
                        {%- liquid
                        assign master_width = block.settings.image_1.src.width | append: 'x' | append: block.settings.image_1.src.height
                        assign width = '375x' | append: mobile_image_height | append: ',' | append: master_width
                        assign class = nil
                        -%}
                        {%- render 'responsive-image', image: block.settings.image_1, sizes: width, class: class -%}
                    </div>
                    {% endif %}
                    {% if block.settings.image_2 != blank %}
                    <div class="certificates-multi_image_image carousel__slide"> 
                        {%- liquid
                        assign master_width = block.settings.image_2.src.width | append: 'x' | append: block.settings.image_2.src.height
                        assign width = '375x' | append: mobile_image_height | append: ',' | append: master_width
                        assign class = nil
                        -%}
                        {%- render 'responsive-image', image: block.settings.image_2, sizes: width, class: class -%}
                    </div>
                    {% endif %}
                </slide-show>
                {% endif %}
            </div>
            {% unless block.settings.image_2 == blank %}
                <div class="carousel-status f_regular lh-sm"></div>
            {% endunless %}
        </div>
    {% endfor %}
</div>
<script>
document.addEventListener('DOMContentLoaded', function () {
    var imageCarousel = document.querySelector('.certificates-multi_images');
    var flktyMain = new Flickity(imageCarousel, {
        prevNextButtons: true,
        wrapAround: true,
        pageDots: true
    });

    var carouselStatus = document.querySelector('.carousel-status');

    function updateStatus() {
        var cellNumber = flktyMain.selectedIndex + 1;
        carouselStatus.textContent = cellNumber + '/' + flktyMain.slides.length;
    }
    updateStatus();

    flktyMain.on('change', updateStatus);
});
</script>
{% schema %}
{
    "name": "Certificates",
    "blocks": [
    {
        "type": "certificate",
        "name": "Certificate",
        "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Subitle"
        },
        {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image 1"
        },
        {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2"
        },
        {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image 3"
        },
        {
            "type": "image_picker",
            "id": "image_4",
            "label": "Image 4"
        },
        {
            "type": "image_picker",
            "id": "image_5",
            "label": "Image 5"
        },
        {
            "type": "image_picker",
            "id": "image_6",
            "label": "Image 6"
        },
        {
            "type": "image_picker",
            "id": "image_7",
            "label": "Image 7"
        },
        {
            "type": "image_picker",
            "id": "image_8",
            "label": "Image 8"
        },
        {
            "type": "image_picker",
            "id": "image_9",
            "label": "Image 9"
        },
        {
            "type": "image_picker",
            "id": "image_10",
            "label": "Image 10"
        }
        ]
    }
    ],
    "presets": [
    {
        "name": "Certificates"
    }
    ]
}
{% endschema %}