{{  'email-signup.css' | asset_url | stylesheet_tag }}
<div class="signup_wrapper">

    <div class="signup_only_text">
        {% if section.settings.text %}
            <div class="signup_text h8 lh-sm">
                {{ section.settings.text }}        
            </div>
        {% endif %}

        {% if section.settings.email_text %}
            <div class="signup_email_wrapper">
                <div class="signup_email h11 lh-sm">
                  {% render 'email-signup-form' %}
                </div>
            </div>
        {% endif %}
    </div>

    {%- if section.settings.image != blank -%}
        <div class="signup_logo">
            {% assign image = section.settings.image %}
            {% assign master_width = image.src.width | append: 'x' | append: image.src.height %}
            {%- render 'responsive-image', image: image, sizes: master_width, retina: 1 -%}
        </div>
    {%- endif -%}

</div>
<script>
document.querySelectorAll('.signup_logo img').forEach(img => {
    img.onload = () => {
        let parentWrapper = img.closest('.signup_wrapper');
        let textDiv = parentWrapper.querySelector('.signup_only_text');

        if (img.naturalWidth > img.naturalHeight) {
            if (parentWrapper) parentWrapper.className += '_bear';
            if (textDiv) textDiv.className += '_bear';
            img.closest('.signup_logo').className += '_bear';
        } else {
            if (parentWrapper) parentWrapper.className += '_plant';
            if (textDiv) textDiv.className += '_plant';
            img.closest('.signup_logo').className += '_plant';
        }
    };
});

</script>
{% schema %}
    {
        "name": "Newsletter",
        "settings": [
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "Text",
                        "default": "<p>Text text text. Text text text text.</p>"
                    },
                    {
                        "type": "text",
                        "id": "email_text",
                        "label": "Email",
                        "default": "Email Address"
                    },
                    // {
                    //     "type": "url",
                    //     "id": "button_link",
                    //     "label": "Button link"
                    // },
                    {
                        "type": "text",
                        "id": "button_text_arrow",
                        "label": "Button text",
                        "default": "Button text"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    }
                ],
        "presets": [
          {
            "name": "Newsletter"
          }
        ]
    }
{% endschema %}