{{ 'product-presentation.css' | asset_url | stylesheet_tag }}
<div class="product_description_wrapper">

    {% if section.settings.title %}
    <div class="product_description_title">
        <div class="product_description_main_title">

        </div>

        <div class="product_description_subtitle">

        </div>
    </div>
    {% endif %}

    
    <div class="product_description_img">

    </div>

    <div class="product_description_btn">

    </div>

</div>
{% schema %}
{
    "name": "Featured Product",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
        },
        {
        "type": "image_picker",
        "id": "featured_image",
        "label": "Upload an image"
        }
    ],
    "presets": [
    {
        "name": "Featured Image",
        "category": "Image"
    }
    ]

}
{% endschema %}  