{{ 'product-presentation.css' | asset_url | stylesheet_tag }}
<div class="product_description_wrapper">

    <div class="product_description_title">
        {% if section.settings.title %}
        <div class="product_description_main_title">
            {{ section.settings.title }}
            </div>
        {% endif %}

        {% if section.settings.subtitle %}
        <div class="product_description_subtitle">
            {{ section.settings.subtitle }}
        </div>
        {% endif %}
    </div>

    {%- if section.settings.image != blank -%}
        <div class="traits-image">
            {% assign image = section.settings.image %}
            {%- render 'responsive-image', image: image, sizes: master_width, retina: 1 -%}
        </div>
    {%- endif -%}


    <div class="product_description_btn">
        <p>SEE ALL PRODUCTS</p>
    </div>

</div>
{% schema %}
{
    "name": "Product Presentation",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Subtitle"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
    ],    
    "blocks": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Subtitle"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
    ],
    "presets": [
          {
            "name": "Product Presentation"
          }
        ]
}
{% endschema %}  