{{  'you-may-also-like.css' | asset_url | stylesheet_tag }}

<div class="you_may_also_like_wrapper">
    <div class="you_may_also_like_title h9 lh-sm f_medium">
        {{ section.settings.title }}
    </div>

    {% for block in section.blocks %}
        <div class="you_may_also_like_product">
            {%- render 'product-card', product_card_product: block.settings.product -%}
        </div>
    {% endfor %}
</div>



{% schema %}
{
    "name": "You may also like",
    "max_blocks": 3,
    "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Title"
                }
            ],
        "blocks": [
        {
        "type": "product",
        "name": "Product",
        "settings": [
                {
                    "type": "product",
                    "id": "product",
                    "label": "Pick a product"
                }
            ]
        }
    ],
    "presets": [
        {
        "name": "You may also like"
        }
    ]
}
{% endschema %}   