

.blog-post .featured-image img {
  transition: all 1s cubic-bezier(0.104, 0.204, 0.492, 1); }


.blog-post {
  margin-bottom: 50px; }
  .blog-post .featured-image {
    transition: all ease-in-out .3s;
    margin-bottom: 24px;
    overflow: hidden;
    position: relative;
    height: 0;
    padding-bottom: var(--ratio-percent); }
    .blog-post .featured-image > a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .blog-post .featured-image > a img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
      .blog-post .featured-image > a .thb-placeholder {
        background: rgba(var(--color-body-rgb), 0.03);
        width: 100%;
        height: 100%; }
        .blog-post .featured-image > a .thb-placeholder svg {
          fill: var(--color-accent); }
    .blog-post .featured-image img {
      display: block;
      will-change: scale; }
  .blog-post .post-meta {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(--color-body);
    opacity: 0.6;
    letter-spacing: 0.1em;
    margin-bottom: 12px; }
  .blog-post .post-excerpt {
    font-size: 0.9375rem; }
  .blog-post--large {
    width: 100%;
    position: relative; }
    @media only screen and (min-width: 768px) {
      .blog-post--large .featured-image {
        width: 100%;
        max-width: 66%;
        padding-bottom: var(--ratio-percent-medium); }
        [dir="rtl"] .blog-post--large .featured-image {
          margin-right: auto; } }
  @media only screen and (min-width: 768px) {
    .blog-post--content {
      border: 1px solid var(--color-border);
      padding: 50px;
      position: absolute;
      top: 50%;
      right: 0;
      background: var(--bg-body);
      max-width: 500px;
      transform: translateY(-50%); } }
  @media only screen and (min-width: 1068px) {
    .blog-post--content {
      min-width: 500px;
      max-width: 100%;
      width: calc(33.9% + 50px); } }

@media only screen and (max-width: 767px) {
  .blog-posts.swipe-on-mobile .row {
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: minmax(calc(100vw - 30px), 1fr);
    overflow-x: auto;
    grid-template-columns: repeat(auto-fill, minmax(calc(100vw - 30px), 1fr));
    width: calc(100% + 30px);
    padding: 0 15px;
    margin-left: -15px;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; }
    .blog-posts.swipe-on-mobile .row::-webkit-scrollbar {
      display: none; }
    .blog-posts.swipe-on-mobile .row .columns {
      scroll-snap-stop: always;
      padding: 0; } }


/* new blog */
.blog_post_large_new-snippet_wrapper {
  padding: 36px 20px 68px 24px;
}

.blog-section .columns {
  padding: 0;
}

.blog_post_large_new-snippet_wrapper .blog_post_large_new-image {
  display: block;
  position: relative;
  height: 61.7487vw;
}

.top_right_corner {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 0;
  right: 0;
  border-top: 2px solid #6D7E60;
  border-right: 2px solid #6D7E60;
}

.bottom_left_corner {
  position: absolute;
  width: 65px;
  height: 65px;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #6D7E60;
  border-left: 2px solid #6D7E60;
}

.blog_post_large_new-snippet_wrapper img {
  width: 63.935vw;
  top: 14.1593%;
  left: 11.8013%;
  position: relative;
}

.blog_post_large_new-title {
  display: block;
  font-size: 24px;
  color: black;
  margin-top: 50px;
}

.blog_post_large_new-date {
  margin-top: 11px;
}

.blog_post_large_new-snippet_wrapper .post-excerpt {
  margin-top: 33px;
}

.blog_post_large_new-snippet_wrapper .read-more {
  padding: 15px;
  border: 3px solid #6D7E60;
}

.post-excerpt  p {
  margin-bottom: 33px;
}

.small_blog_posts-wrapper {
  padding: 48px 54px;
  background: #6D7E60;
}

.blog_post_small-title {
  color: white !important;
  text-align: center;
  display: block;
}

.blog_post_small-date {
  font-size: 16px;
  text-align: center;
  color: white;
  margin-top: 11px;
  margin-bottom: 16px;
}

.small_blog_posts-wrapper .blog_post_small-image {
  margin-top: 16px;
  margin-bottom: 0;
  transition: all .3s;
}

.blog_post_small-button {
  color: white !important;
  display: block;
  padding: 21px 19px;
  border: 2px solid white;
  text-align: center;
  margin-top: -10px;
}

.blog_post_small-image {
  width: 83.852%;
  background: #6D7E60;
  margin: 0 auto;
}

.blog-post .blog_post_small-image img {
  width: 79.047% !important;
  margin: 0 auto;
}

.blog_post_small-image {
  --ratio-percent: 50.78% !important;
}

.blog_post_small-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.blog_post_small-button svg path {
  fill: white;
}

.read_more-text::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 4px;
  background: white;
}

@media only screen and (min-width: 1025px) {
  .blog_post_large_new-snippet_wrapper {
    padding: 102px 64px 122px 29px;
  }

  .blog_post_small-button {
    margin-top: -117px;
    min-height: 162px;
    transition: all .3s;
  }

  .blog_post_large_new-snippet_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .blog_post_large_new-image {
    width: 52.6677%;
  }

  .blog_post_large_new-title {
    font-size: 36px;
    margin-top: 0;
  }

  .blog_post_large_new-content_wrapper {
    width: 41.0061%;
  }

  .bottom_left_corner,
  .top_right_corner {
    width: 138px;
    height: 138px;
    z-index: 2;
  }
  
  .blog_post_large_new-snippet_wrapper .blog_post_large_new-image {
    height: 38.8195vw;
  }
  
  .blog_post_large_new-snippet_wrapper img {
    width: 84.71709%;
    top: 9.0215%;
    left: 6.1838%;
    transform: scale(1);
    transform-origin: top left;
    transition: all .8s;
  }

  .blog_post_large_new-image:hover img {
    transform: scale(1.18);
  }

  .small_blog_posts-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .blog_post_small-wrapper {
    min-width: 44.2943%;
  }

  .small_blog_posts-wrapper > .blog_post_small-wrapper:not(:nth-last-of-type(-n+2)) {
    margin-bottom: 184px;
  }

  .small_blog_posts-wrapper .blog_post_small-image {
    width: calc(100% - 74px);
    margin-top: 0;
  }

  .blog_post_small-title {
    width: calc(87.628% - 60px);
    margin-left: auto;
    margin-right: auto;
    transition: all ease-in-out .3s;
    opacity: 1;
    visibility: visible;
  }

  .blog-post .blog_post_small-image img {
    width: 88.569% !important;
  }

  .blog_post_small-date {
    margin-bottom: 58px;
    font-size: 18px;
    transition: all ease-in-out .3s;
    opacity: 1;
    visibility: visible;
  }

  .blog_post_small-title_date_secondary {
    width: calc(88.569% - 60px);
    z-index: 1;
    position: absolute;
    bottom: 23px;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out .3s;
  }

  .blog_post_small-title_date_secondary .blog_post_small-title {
    width: 100%;
  }

  .blog-post:hover .blog_post_small-title_date_primary {
    visibility: hidden;
    opacity: 0;
  }

  .blog-post:hover .blog_post_small-title_date_secondary {
    visibility: visible;
    opacity: 1;
  }

  .blog_post_small-image:after {
    content: "";
    position: absolute;
    width: 88.569% !important;
    height: 100%;
    background: black;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
  }

  .read_more-text::after {
    margin-top: 14px;
    width: 86px;
  }

  .read_more-text {
    margin-bottom: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
  }

  .blog-post:hover .read_more-text {
    visibility: visible;
    opacity: 1;
  }

  .blog-post:hover .blog_post_small-image:after {
    visibility: visible;
    opacity: .2;
  }

  .blog-post:hover .blog_post_small-image {
    margin-top: -65px;
  }

  .blog_post_small-image {
    --ratio-percent: 58.137% !important;
    transform: all ease-in-out .3s;
  }

  .blog_post_small-button {
    align-items: flex-end;
    transition: all ease-in-out .3s;
  }

  .blog_post_small-button svg {
    margin-bottom: 35px;
  }

  .blog-post:hover .blog_post_small-button {
    margin-top: -52px;
    margin-bottom: 52px;
  }

  .blog_post_small-title_date_secondary .blog_post_small-date {
    margin-bottom: 0;
  }
}
