.contact-page-form {
    padding: 68px 0;

    .text-first {
        flex-direction: column-reverse;
    }

    .section-header--content {
        width: calc(100% - 134px)
    }

    .section-header--content::after {
        content: "";
        margin-top: 18px;
        width: 100%;
        height: 1px;
        background: white;
    }

    .section-header--content h2 {
        width: min-content;
        word-wrap: normal;
        max-width: 80%;
        color: white;
        font-size: 38px;
        font-weight: 300;
        line-height: 1.5;
        margin-right: auto;
    }

    .section-header--content h2::after {
        content: '\00a0';
        height: 0;
    }

    .section-header--content h2 > * {
        display: inline-block;
        white-space: nowrap;
    }

    .contact-form--text-column strong {
        line-height: 1.5;
        margin-bottom: 18px;
    }

    #contact_form input,
    #contact_form textarea {
        border: none;
        border-bottom: 1px solid white;
        padding: 13px 10px;
        margin-bottom: 48px;
        display: block;
    }
    

    #contact_form textarea {
        min-height: 51px;
    }

    #contact_form .button_type5 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #contact_form .button_type5 svg {
        width: 24px;
        height: 24px;
    }

    #contact_form .button_type5 span {
        display: flex;
        align-items: center;
    }

    .contact-form--form-column,
    .contact-form--text-column {
        padding: 1px 19px;
    }

    .contact-page-form label {
        padding: 13px 10px;
        min-height: 51px;
    }

    .contact-form-block-wrapper {
        display: flex;
        align-items: flex-start;
        gap: 24px;
    }

    .contact-form-block-wrapper:not(:last-child) {
        margin-bottom: 84px;
    }

    .contact-form--text-column .contact-form-block {
        margin-bottom: 0;
    }

    p {
        margin: 0;
        line-height: 1.5;
    }

    .block-text {
        font-size: 24px;
        line-height: 1.5;
    }

    .block-text a {
        font-size: 32px;
    }

    .section-header {
        margin-bottom: 84px;
    }

    .contact_form_text-wrapper {
        gap: 167px;
    }

    .divider {
        display: none;
    }

    .call_to_action {
        font-size: 32px;
        font-family: 'Montserrat 400' !important;
        line-height: 1.5;
        margin-bottom: 48px;
    }

    @media print, screen and (min-width: 1025px) {
        .section-header--content h2 {
            max-width: 100%;
            width: 100%;
            font-size: 64px;
        }

        .section-header--content {
            margin: 0;
            padding: 0;
        }

        .section-header--content::after {
            width: 336px;
            margin-right: auto;
        }

        .contact-page-form .row .columns {
            padding: 0;
        }

        .text-first {
            flex-direction: row-reverse;
        }

        .contact_form_text-wrapper {
            gap: 0;
            flex-wrap: nowrap;
        }

        .contact-form--form-column,
        .contact-form--text-column {
            min-width: calc(50% - 0.5px);
            flex-basis: calc(50% - 0.5px);
        }

        .divider {
            display: block;
            min-height: 100%;
            min-width: 1px;
        }

        .contact_form-wrapper {
            flex-direction: column;
            margin: 0;
        }

        .contact_form-wrapper .columns {
            max-width: 100%;
            padding: 0;
            margin-left: auto;
            min-width: 515px;
            width: calc(100% - 107px);
        }

        .contact-form--text-column,
        .contact-form--form-column {
            padding: 0;
        }

        .call_to_action {
            font-size: 48px;
            margin-bottom: 90px;
            max-width: 100%;
            padding: 0;
            margin-left: auto;
            min-width: 515px;
            width: calc(100% - 107px);
        }

        #contact_form textarea {
            margin-bottom: 90px;
        }

        #contact_form input {
            min-height: 60px;
        }
    }
}

@media print, screen and (min-width: 1025px) {
    .contact-page-form {
        padding: 124px 128px;
    }
}