.signup_wrapper_bear {
  padding: 68px 7.65%;
  border-bottom: 1px solid black;
}

.signup_wrapper_plant {
  padding: 68px 7.65%;
  border-bottom: 1px solid black;
}

.signup_text {
  margin-bottom: 34px;
}

.signup_email_wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px 3.25%;
}

.signup_email {
  width: 49.35%;
  border-bottom: 1px solid black;
}

.signup_email_button {
  padding: 13px;
  gap: 10px;
}

.signup_logo_plant {
  display: none;
}

.signup_logo_bear {
  display: none;
}

.signup_email button {
  display: none;
}

.field > input {
  width: 100%;
  border: none;
  padding: 0 0 0 5%;
  margin: 0;
}

.field > .field__label {
  color: #040404;
  padding: 10px 0;
  margin: 0;
  display: flex;
  align-items: flex-end;
}

@media print, screen and (min-width: 1025px) {

/* -------------------- PLANT IMAGE ------------------------ */

  .signup_email {
    width: 60%;
  }

  .field > .field__label {
    padding: 7px 0;
  }

  .signup_wrapper_plant {
      display: flex;
      flex-direction: row;
      padding: 79px 4.1% 0px 12.22%;
  }

  .signup_only_text_plant {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 100px;
      padding-top: 46px;
      flex-basis: 97%;
  }

  .signup_email_wrapper {
      width: 82.12%;
      padding: 10px 1.25%;
  }

  .signup_text {
      margin-bottom: 80px;
  }

  .signup_email_button {
      padding: 11.5px;
  }

  .signup_logo_plant {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      flex-basis: 100%;
      justify-content: flex-end;
      position: relative;
      overflow: auto;
  }

  .signup_logo_plant > img {
      position: absolute;
      width: 51%;
      height: auto;
      display: block;
  }

  /* -------------------- BEAR IMAGE ------------------------ */

  .signup_wrapper_bear {
      display: flex;
      flex-direction: row;
      padding: 100px 4.44% 49px 7.33%;
      border-bottom: 1px solid black;
  }

  .signup_only_text_bear {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 185px;
      flex-basis: 91%;
  }

  .signup_logo_bear {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      flex-basis: 100%;
      justify-content: flex-end;
      position: relative;
      overflow: auto;
  }

  .signup_logo_bear > img {
      position: absolute;
      width: 100%;
      height: auto;
      display: block;
  }

}