.faq-sidebar_wrapper {
    padding: 68px 19px 68px 28px ;
}

.faq-main_wrapper {
    padding: 68px 28px;
}

.faq-sidebar_title {
    color: #040404;
    margin-bottom: 68px;
}

.faq-sidebar_title_arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #6D7E60CC;
    border-bottom: 1px solid #04040466;
    padding: 10.3px 0;
    margin-bottom: 38px;
    cursor: pointer;
}

.faq-sidebar_title_arrow:last-child {
    margin-bottom: 0;
}

.faq-sidebar-arrow {
    display: flex;
}

.faq-main_block_wrapper {
    margin-bottom: 124px;
}

.faq-main_block_wrapper:last-child {
    margin-bottom: 0;
}

.faq_main_title {
    margin-bottom: 68px;
    text-transform: uppercase;
    font-weight: 400;
}

.faq_main_first_wrapper,
.faq_main_second_wrapper,
.faq_main_third_wrapper,
.faq_main_fourth_wrapper {
    border-bottom: 1px solid #04040466;
    margin-bottom: 32px;
}

.faq_main_title_first,
.faq_main_title_second,
.faq_main_title_third,
.faq_main_title_fourth {
    padding-right: 20px;
    margin-bottom: unset;
    font-weight: 300;
} 

.faq-main_block_wrapper > *:not(:first-child):not(:last-child) {
    margin-bottom: 32px;
}
  
.faq_main_title_arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    cursor: pointer;
}

.faq_main_text_first.hidden,
.faq_main_text_second.hidden,
.faq_main_text_third.hidden,
.faq_main_text_fourth.hidden {
    max-height: 0;
    overflow: hidden;
}

.faq_main_text_first,
.faq_main_text_second,
.faq_main_text_third,
.faq_main_text_fourth {
    max-height: 2000px;
    transition: max-height 0.5s ease;
}

.faq_main_arrow {
    transition: transform 0.3s ease;
}

.faq_main_arrow.up {
    transform: rotate(0deg);
}

.faq_main_arrow.down {
    transform: rotate(180deg);
}


@media print, screen and (min-width: 1025px) {

    .faq-section_wrapper {
        padding: 124px 68px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .faq-sidebar_wrapper {
        padding: unset;
        padding-right: 68px;
        width: 30%;
    }
    
    .faq-main_wrapper {
        padding: 0;
        padding-left: 68px;
        border-left: 1px solid #040404;
        width: 70%;
    }

    .faq-sidebar_title {
        line-height: 1;
    }

    .faq-sidebar_title_arrow {
        padding: 14px 0;
    }

    .faq_main_title {
        margin-bottom: 80px;
        font-weight: 500;
    }

    .faq_main_title_first,
    .faq_main_title_second,
    .faq_main_title_third,
    .faq_main_title_fourth {
        font-weight: 400;
    }

    .faq_sidebar_title {
        font-weight: 500 !important;
    }

}
