.featured-collection .row,
.featured-collection .row .columns {
  padding: 0;
}

.featured-collection h2 {
  padding-left: 8px;
  border-left: 1px solid #040404;
}

.featured_collection-view_all_button {
  margin: 28px auto 0;
  width: fit-content;
}

.featured-collection .products {
  margin-top: 28px;
}

.featured-collection .carousel__slide {
  padding: 0 31px;
}

.featured-collection {
  overflow: hidden; 
  padding: 86px 28px;}
  @media only screen and (max-width: 767px) {
    .featured-collection .carousel__slide {
      width: calc(90vw - 15px); } }
  .featured-collection .products.row {
    padding: 0; }
  @media only screen and (max-width: 767px) {
    .featured-collection.swipe-on-mobile .featured-collection__inner.display-type--grid .products.row {
      margin: 0 -15px;
      width: calc(100% + 30px);
      padding: 0 11px;
      display: grid;
      grid-gap: 0;
      grid-auto-flow: column;
      grid-auto-columns: minmax(50%, 1fr);
      overflow-x: auto;
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      scroll-snap-type: x mandatory;
      scrollbar-width: none; }
      .featured-collection.swipe-on-mobile .featured-collection__inner.display-type--grid .products.row::-webkit-scrollbar {
        display: none; }
      .featured-collection.swipe-on-mobile .featured-collection__inner.display-type--grid .products.row .columns {
        flex: 0 0 100%;
        max-width: 100%; } }
  .featured-collection .text-center .button {
    margin-top: 10px; }

@media only screen and (max-width: 1024px) {
  .featured-collection .carousel__slide {
    max-width: 100%;
  }
}
@media only screen and (min-width: 1025px) {
  .featured-collection {
    padding: 34px 64px 188px;
  }

  .featured_collection-title_button_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .featured-collection h2 {
    padding-left: 0;
    border-left: none;
  }

  .featured-collection h2::after {
    content: "";
    display: block;
    margin-top: 18px;
    height: 1px;
    background: #040404;
    width: 54.44%;
  }

  .featured_collection-title_button_wrapper .featured_collection-view_all_button {
    margin: 0;
  }
}