.product_explanation_wrapper {
    height: 477px;
    position: relative;
}

.product_explanation_colors {
    display: flex;
    flex-direction: column;
}

.product_explanation_upper {
    height: 281px;
}

.product_explanation_lower {
    height: 196px;
    flex-grow: 1;
}

.product_explanation_img_desktop {
    display: none;
}

.product_explanation_img_mobile {
    width: 93.98%;
    height: 345px;

    position: absolute;
    top: 130px;
    left: 15px;
    z-index: 10;

}

.product_explanation_img_mobile img {
    width: 100%;
    height: 100%;
}

@media print, screen and (min-width: 1025px) {

    .product_explanation_img_mobile {
        display: none;
    }

    .product_explanation_img_desktop {
        width: 68.40%;
        height: 563px;
    
        position: absolute;
        top: 130px;
        left: 15px;
        z-index: 10;
    
    }

    .product_explanation_img_desktop img {
        width: 100%;
        height: 100%;
    }

}