.product_description_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
}


.product_description_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 81%;
    padding: 0 9.6% 8.5% 9.6%;
    text-align: center;
}

.product_description_main_title {
    color: #040404;
    text-align: center;
    margin-bottom: 18px;
}

.product_description_subtitle {
    padding: 0 4.2%;
    color: #040404;
}

.product_description_image_desktop {
    display: none;
}

.product_description_image_mobile {
    height: 42.6%;
    margin-bottom: 40px;
}

.button_type1 {
    color: #040404;
    padding: 13px 13.3px;
}


@media print, screen and (min-width: 1025px) {
    .product_description_wrapper {
        padding: 94px 176px;
    }
    
    .product_description_title {
        width: 100%;
        padding-bottom: 84px;
    }

    .product_description_main_title {
        margin-bottom: 24px;
    }

    .product_description_subtitle {
        padding: 0 16.89%;
    }

    .product_description_image_mobile {
        display: none;
    }

    .product_description_image_desktop {
        display: flex;
        align-items: center;
        height: auto;
        width: 100%;
        margin-bottom: 84px;
    }

    .product_description_image_desktop > img {
        flex-grow: 1;
    }

    .button_type1 {
        padding: 15.4px 14.3px;
    }
}