.product_description_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_description_main_title {
    font-size: 22px;
    line-height: 26.82px;
    color: black;
}



@media print, screen and (min-width: 1025px) {

}