.reviews_wrapper {
    background-color: #6D7E60;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: auto;
}

.reviews_title {
    color: black;
    width: 100%;
    padding: 17px 0px 16px 0px;
    background-color: white;
    border-top: 1px solid black;
    letter-spacing: 2px;
    text-align: center;
}

.reviews_all_reviews {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.reviews_single_review {
    padding: 44px 10.38% 45px 10.38%;
    text-align: center;
    max-width: 100%; 
    margin: auto;
}

.reviews_single_review.carousel-cell {
    width: 100%;
}

.reviews-image {
    margin-bottom: 25px;
}

.reviews-image > img {
    width: 40px;
    height: 38px;
}

.reviews_image > img:not(:last-child) {
    margin-right: 7px;
}

.reviews_review {
    margin-bottom: 24px;
}

.reviews_leave_review {
    padding: 24px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid white;
    width: 100%;
}

.reviews_leave_review_text {
    margin-bottom: 45px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.review_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.flickity-page-dots {
    display: none;
}

@media print, screen and (min-width: 1025px) {

    .reviews_all_reviews {
        display: flex;
        flex-direction: row;
        padding: 61.5px 4.44%;
        width: 100%;
    }

    .reviews_single_review {
        border-right: 1px solid white;
        padding: 1.66% 6.84% 1.66% 6.84%;
        border-bottom: unset;
        text-align: unset;
        width: 33.3%;
    }

    .reviews_all_reviews > .reviews_single_review:first-child {
        border-right: 1px solid white;
        padding: 1.66% 6.84% 1.66% 1.66%;
    }

    .reviews_all_reviews > .reviews_single_review:last-child {
        border-right: 1px solid white;
        padding: 1.66% 1.66% 1.66% 6.84%;
        border: unset;
    }

    .reviews_review {
        text-align: left;
    }

    .reviews_customer_name {
        text-align: left;
    }

    .reviews_leave_review {
        display: flex;
        flex-direction: row;
        padding: 64px 4.44%;
        justify-content: space-between;
        width: 100%;
        border-top: 1px solid white;
    }

    .reviews_leave_review_text {
        margin-bottom: unset;
    }

}