.reviews_wrapper {
    background-color: #6D7E60;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews_title {
    color: black;
    width: 100%;
    padding: 17px 0px 16px 0px;
    background-color: white;
    border-top: 1px solid black;
    letter-spacing: 2px;
    text-align: center;
}

.reviews_single_review {
    padding: 44px 38px 45px 38px;
    text-align: center;
    border-bottom: 1px solid white;
}

.reviews-image {
    margin-bottom: 25px;
}

.reviews-image > img {
    width: 40px;
    height: 38px;
}

.reviews_image > img:not(:last-child) {
    margin-right: 7px;
}

.reviews_review {
    margin-bottom: 24px;
}

.reviews_leave_review {
    padding: 24px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews_leave_review_text {
    margin-bottom: 45px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.review_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.review_button > a {
    color: white;
}

.review_button > svg {
    margin-left: 27px;
    fill: white;
    color: white;
}