.title_text_button-wrapper {
    padding: 86px 28px 86px 28px;  
    background-color: #727272;
    color: #FFFFFF;
}

.title_text_button-title-wrapper {
    display: flex;
    flex-direction: row;    
    margin-bottom: 40px;
}

.title_text_button-title {
    margin-left: 18px;
    color: #FFFFFF;
}

.title_text_button-button_text_wrapper > div:nth-child(2) {
    margin-top: 30px;
}

.vl {
    border-left: 2px solid rgb(255, 255, 255);
}

.title_text_button-button_wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column
}

.title_text_button-button {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.button_type4 {
    color: white;
}

.title_text_button-arrow {
    margin-left: 10px;
}

.title_text_button-line{
    width: 64px;
    height: 1px;
}

.title_text_button-wrapper .title_position-left {
    flex-direction: row;
}

.title_text_button-wrapper .title_position-right {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

@media print, screen and (min-width: 1025px) {
    .title_text_button-wrapper {
        background-color: #727272;
        color: #FFFFFF;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .title_text_button-title-wrapper {
        display: flex;
        flex-direction: row-reverse;    
        margin: 40px;
    }
    
    .title_text_button-title {
        margin-right: 40px;
        color: #FFFFFF;
    }
}






/* 
DODAJ BUTTON I BACKGROUND TE SREDI VIDI OSTALE SLICNE SEKCIJE */