.title_text_button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 86px 28px;  
    background-color: #727272;
    color: #FFFFFF;
}

.title_text_button-title-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;  
    align-items: center;
    width: 210px;
    height: 57px;
    margin-bottom: 28px;
}

.vl {
    margin-right: 2.1%;
    height: inherit;
}

.title_text_button-title {
    color: #FFFFFF;
    
}

.title_text_button-text {
    color: #FFFFFF;
}

.title_text_button-text {
    margin-bottom: 28px;
}

.title_text_button-text > p:nth-child(1) {
    margin-bottom: 32px;
}

.title_text_button-text > p:nth-child(2) {
    margin-bottom: 0px;
}

.vl {
    border: 1px solid rgb(255, 255, 255);
}

.title_text_button-button {
    display: flex;
    flex-direction: row;
}

.title_text_button-button > a {
    color: #FFFFFF;
    margin-right: 8px;
}

@media print, screen and (min-width: 1025px) {
    .title_text_button-wrapper.title_position-left  {
        padding: 94px 128px;
        display: flex;
        flex-direction: row;
    }
 
    .title_text_button-title-wrapper {
        display: flex;
        min-width: 26.8%;
        text-align: right;
        word-wrap: normal;
        width: unset;
        height: unset;
        align-items: unset;
        flex-direction: unset;
    }

    .title_text_button-title-wrapper.title_position-left > .title_text_button-title {
        margin-right: 41px;
        padding-left: 86px;
    }

    .title_text_button-title-wrapper.title_position-left > .vl {
        margin-right: 37px;
        height: 260px;
    }

    .title_text_button-button_text_wrapper {
        width: 62%;
    }
    
    .title_text_button-title {
        /* color: #FFFFFF;
        margin-left: 0px; */

        /* obrisati */
        /* font-weight: 300;
        font-family: sans-serif; */
    }

    .title_position-left {
        /* flex-direction: row; */
    }
    
    .title_position-right {
        /* flex-direction: row-reverse; */
    }

    .title_position-right_line-left {
        /* flex-direction: row;
        text-align: left;
        word-wrap: normal; */
    }

    .title_text_button-button_text_wrapper {
        /* min-width: 50%;
        text-align: left; */
    }

    .title_text_button-text {
        /* font-weight: 300;
        font-family: sans-serif; */
    }
}
