.title_text_button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 86px 28px;  
    background-color: #727272;
    color: #FFFFFF;
}

.title_text_button-title-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;  
    align-items: center;
    width: 210px;
    height: 57px;
    margin-bottom: 28px;
}

.vl {
    margin-right: 2.1%;
    height: inherit;
    border: 1px solid rgb(255, 255, 255);
}

.title_text_button-title {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    border-left: 1px solid white;
    padding-left: 2.2%;
}

.title_text_button-upper {
    margin-right: 10px;
}

.title_text_button-text {
    color: #FFFFFF;
}

.title_text_button-text {
    margin-bottom: 28px;
}

.title_text_button-text > p:nth-child(1) {
    margin-bottom: 32px;
}

.title_text_button-text > p:nth-child(2) {
    margin-bottom: 0px;
}

.title_text_button-button {
    display: flex;
    flex-direction: row;
}

.title_text_button-button > a {
    color: #FFFFFF;
    margin-right: 8px;
}

@media print, screen and (min-width: 1025px) {
    .title_text_button-wrapper.title_position-left  {
        padding: 94px 8.889%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .title_text_button-wrapper.title_position-right  {
        padding: 152px 4.444%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
 
    .title_text_button-title-wrapper.title_position-left  {
        display: flex;
        text-align: right;
        word-wrap: normal;
        min-width: 35.27%;
        width: unset;
        height: unset;
        align-items: unset;
        flex-direction: unset;
    }

    .title_text_button-title-wrapper.title_position-right  {
        min-width: 39.7%;
        display: flex;
        flex-direction: row-reverse;
        text-align: right;
        word-wrap: normal;
        width: unset;
        height: unset;
        align-items: center;
    }

    .title_text_button-title {
        display: unset;
        border-left: unset;
    }

    .title_text_button-title-wrapper.title_position-left > .title_text_button-title {
        padding: 0 9.6% 0 35.83%;
        border-right: 1px solid;
    }

    .title_text_button-title-wrapper.title_position-right > .title_text_button-title {
        text-align: left;
        border-left: 1px solid;
    }

    .title_text_button-button_text_wrapper-left {
        padding-left: 3%;
    }
    
    .title_text_button-button_text_wrapper-right {
        padding: 0 11.59% 0 9.76%;
    }

    
}
