.traits-block_wrapper:not(:first-child) {
    border-top: 1px solid #040404;
}

.traits-section_wrapper {
    padding: 24px;
    display: flex;
    flex-direction: column;
    color: #040404;
}

.traits-block_wrapper {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.traits-title {
    text-transform: uppercase;
    height: 14.58%;
    text-align: center;
    color: #04040499;
    margin-bottom: 8.04%;

    /* makes title in two lines */
    padding: 0 50px; 
}

.traits-image {
    height: 21.10%;
    width: auto;
    margin-bottom: 8.04%;
}

.traits-image > img {
    min-height: 84px;
    min-width: 84px;
}

.traits-text {
    height: 36.18%;
}

@media print, screen and (min-width: 1025px) {
    .traits-section_wrapper {
        padding: 86px 64px;
    }
    .traits-block_wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 0;
        padding: 38px 0;
    }

    .traits-title {
        width: 23.88%;
        margin-right: 5.83%;
        text-align: right;
        padding-left: 30px;
        color: #04040466;
        margin-bottom: 0;
    }

    .traits-image {
        width: 5.83%;
        margin-right: 9.86%;
        margin-bottom: 0;
    }

    .traits-text {
        width: 47.77%;
    }

    .traits-text > p {
        margin-bottom: 0;
    }
}