.you_may_also_like_desktop {
    display: none;
}

.you_may_also_like_title {
    display: flex;
    justify-content: center;
    padding: 17px 0 16px 0;
    background-color: #6D7E60;
    color: #FFFFFF;
    text-transform: uppercase;
}

.you_may_also_like_wrapper {
    padding: 68px 14.21%;
    
    position: relative;
}

.you_may_also_like_product {
    display: flex;
    flex-wrap: nowrap;
    overflow: visible;
    min-width: 100%;
    padding: 0;
}

.flickity-nav {
    display: flex;
    background: transparent;
    box-shadow: none;
  }

.flickity-nav.flickity-prev {
    left: -50px;
}

.flickity-nav.flickity-next {
    right: -50px;
}

.flickity-nav {
    position: absolute;
    top: 33%; /* Centers the arrows vertically */
    transform: translateY(-50%); /* Adjusts for the height of the arrows */
    width: 100%;
    display: flex;
}

.featured_collection-view_all_button {
    display: none;
}

.product-card.text-center .product-card-info {
    width: 70% !important;
}

.product-card-info > .product-card--add-to-cart-button-container > button {
    padding: 16px 20.5px;
}

.product-card--add-to-cart-button-container > quick-view {
    padding: 14px 18.4px;
}

.you_may_also_like_product > .product-card {
    padding: 15px;
}

.product-card-info > .price {
    font-size: 18px;
    line-height: 21.94px;
    color: #040404;
}


@media only screen and (min-width: 1024px) {
    
    .you_may_also_like_title {
        font-weight: 400 !important;
    }

    .you_may_also_like_mobile {
        display: block;
    }
    
    .you_may_also_like_desktop {
        display: flex !important;
        width: 86%;
    }

    .you_may_also_like_wrapper {
        padding: 72px 4.44%;

        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .you_may_also_like_product {
        min-width: unset;
        width: 100%;
        justify-content: center;
    }

    .flickity-nav {
        display: none !important;
    }

    .featured_collection-view_all_button {
        display: block;
    }

    .you_may_also_like_product > .product-card {
        width: 100%;
        margin-right: 4.1%;
        padding: unset;
    }

    .product-card .button_type1 {
        padding: 15px 17.6px !important
    }

    .product-card-info > .price {
        font-size: 32px;
        line-height: 39.01px;
    }

    .product-card-info > .price > del > .amount {
        font-size: 24px;
    }

    .product-card.text-center .product-card-info {
        width: 75.698% !important;
    }
}